/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: hsl(0, 0%, 100%);
}
pre {
	background: hsl(0, 0%, 7%);
}
abbr,
acronym {
	border-bottom: 1px dotted hsl(0, 0%, 60%);
}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
	background: hsl(0, 0%, 0%); 
}
hr {
	background-color: hsl(0, 0%, 20%);
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: hsl(195, 75%, 80%);
}

a:visited {
	color: hsl(261, 75%, 80%);
}

a:hover,
a:focus,
a:active {
	color: hsl(225, 75%, 60%);
}
.content-area {
    background: hsl(0, 0%, 0%);
}
header.site-header h1 {
    color: hsl(205, 50%, 80%);
}
header.site-header h1 a {
    color: hsl(205, 50%, 80%);
}
header.site-header nav .menu,
header.site-header nav li a {
    color: hsl(195, 100%, 83%);
}
.blog .site-header,
.single-post .site-header{
	background: hsl(205, 100%, 20%);
}
article h1 {
    color: hsl(205, 50%, 80%);
}
article .content {
    color: hsl(0, 0%, 60%);
}
article picture img {
    border-top: 2px solid hsl(244, 89%, 68%);
    border-bottom: 4px solid hsl(244, 89%, 68%)
}
footer.site-footer {
    color: hsl(205, 64%, 80%);
    background: hsl(205, 100%, 20%);
}
footer.site-footer a {
    color: hsl(205, 64%, 80%);
}

